RewriteEngine On
RewriteBase /

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine on
RewriteRule algo-wizja index.html
RewriteRule algo-vision start.html
RewriteRule o-mnie about.html
RewriteRule about-me about_en.html
RewriteRule zobacz-czym-sie-zajmuje offer.html
RewriteRule how-can-we-collaborate offer_en.html
RewriteRule poznaj-moja-oferte jurney.html 
RewriteRule check-out-my-offer jurney_en.html
RewriteRule opinie-moich-klientow opinions.html
RewriteRule my-clients-testimonials opinions_en.html
RewriteRule materialy-do-nauki download.html
RewriteRule content-to-download download_en.html
RewriteRule skontaktuj-się-ze-mną contact.html
RewriteRule contact-me contact_en.html