
.contactBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 5px;
    background-color: #595959;
    color: black;
    text-align: center;
    font-size: 14px;
    
    &__mailandphone{
        margin-left: 5%;
    }
    &__socials{
        margin-left: 50%;
    }
  }
.mailandphone--icon{
    width: 25px;
    margin: auto 10px;
}
.socials--iconfb{
    width: 25px;
  }
.socials--iconinsta{
    width: 25px;
    margin-left: 10px;
}
.contactBar__text{
    position: relative;
    bottom: 5px;
}