
.contactBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 5px;
    color: white;
    background-color: #292929;
    text-align: center;
    font-size: 14px;
    
    &__mailandphone{
        margin-left: 5%;
    }
    &__socials{
        margin-left: 50%;
    }
  }
.mailandphone--icon{
    width: 30px;
    margin: auto 10px;
}
.socials--iconfb{
    width: 30px;
  }
.socials--iconinsta{
    width: 30px;
    margin-left: 20px;
}
.contactBar__text{
    position: relative;
    bottom: 10px;
}