.nav{
display: flex;
position: sticky;
justify-content: space-around;
align-items: center;
align-self: center;
max-width: auto;
max-height: 100px;
text-align: center;
position: sticky;
background-color: white;
top:0px;
box-shadow: 0px 1px 15px 0px rgb(0 0 0 / 11%);
z-index: 10;
@media(max-width:$tablet){
    display: none;
}

&__image{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 3px;
    transition: transform 0.1s linear;
    transform-origin: center;
    &:hover{
        cursor: pointer;
        transform:scale(1.05);
    }
    @media(max-width:$tablet){
        display: none;
    }
}

&__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    min-height: auto;
    min-width: auto;
    font-size: 22px;
    @media(max-width:$laptopL){
        font-size: 18px;
    }
    @media(max-width:$laptop){
        font-size: 16px;
    }
    @media(max-width:890px){
        font-size: 15px;
    }
    @media(max-width:$tablet){
        flex-direction: column;;
    }
}
&__item{
    padding: 5px;
    text-decoration: none;
    color: $mainColour;
    margin-left: 30px;
    transition: transform 0.1s linear;
    transform-origin: center;
    &:hover{
        color: rgb(197, 40, 40);
        cursor: pointer;
        transform:scale(1.20);
    @media(max-width:890px){
        transform:scale(1.05); 
        }
    }
    @media(max-width:1250px){
        margin-left: 10px;
    }
    @media(max-width:$laptop){
        margin-left: 10px;
    }
    @media(max-width:890px){
        margin-left: 10px;
        padding: 5px;
    }
    @media(max-width:850px){
        margin-left: 10px;
        padding: 0px;
    }
    @media(max-width:$tablet){
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 18px;
    }
}
}

.hamburgerMenuButton{
    display: none;
    @media(max-width:$tablet){
        display: block;
        position: fixed;
        top:20px;
        right: 20px;
        outline: none;
        border: none;
        background: rgba(255, 255, 255, 0.493);
        border-radius: 20%;
        cursor: pointer;
        z-index: 100;
    }
}
.menuIcon{
    width: 25px;
}

.nav--open{
    display: flex;
    max-height: 500px;
    justify-content: center;
    align-items: center;
}

.logo{
    display: none;
    @media(max-width:$tablet){
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -40px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    &__border{
        display: none;
        @media(max-width:$tablet){
            display: block;
            border-bottom: 3px solid $mainColour;
            width: 400px;
            margin: 0px auto 0px auto;
            padding-bottom: 50px;
        }
        @media(max-width:570px){
            border-bottom: 3px solid $mainColour;
            width: 300px;
            margin: 0px auto 0px auto;
            padding-bottom: 50px;
        }
    }
}

.mobileLang{
    display: none;
    @media(max-width:$tablet){
        display: block;
        background-color: white;
        outline: none;
        border: none;
        top:0px;
        margin-top: 10px;
    }
    &--offer{
        display: none;
        @media(max-width:$tablet){
            display: block;
            outline: none;
            border: none;
            top:0px;
            margin-top: 10px;
            background-color: $mainColour;
            margin:0px;
            padding-top: 10px;
        }
    }
}