.nav{
display: flex;
flex-direction: row;
width: auto;
height: auto;
}
.nav__image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
    margin-left: 60px;
}

.nav__items{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-left: 7%;
    margin-right: 10%;
    font-size: 22px;
}
.nav__item{
    padding: 5px;
    text-decoration: none;
    color: black;
    &:hover{
        color: rgb(99, 63, 63);
        cursor: pointer;
    }
}