//$wtf: #2D2241;
$mainColour:#491D29;
$orange:#BD5D44;
$red:#951935;
$blue:#7F9996;
$stick:#796D71;

$phone: 425px;
$tablet: 780px;
$laptop: 1024px;
$laptopL: 1440px;
$monitor: 2100px;

//$tablet: 768px;
