@import "~normalize.css";

@import "_variables";
@import "modules/contactbar.scss";
@import "modules/nav.scss";
@import "modules/hero.scss";
@import "modules/home.scss";
@import "modules/about.scss";
@import "modules/offer.scss";
@import "modules/jurney.scss";
@import "modules/opinions.scss";
@import "modules/download.scss";
@import "modules/contact.scss";
@import "modules/footer.scss";

html{
  scroll-behavior: smooth;
}

body {
  background: white;
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Yeseva One', cursive;
  color: black;
  width: auto;
  height: auto;
}

h1{
  font-family: 'Yeseva One', cursive;
  font-weight: 300;
}

h2, h3{
  font-family: 'Montserrat', cursive;

}

.bordo{
  color: $mainColour;
}

.cookieHover{
  &:hover{
    color: rgb(53, 14, 14);
  }
}

#simplecookienotification_v01_polityka{
  @media(max-width:550px){
    display: flex;
    flex-wrap: wrap;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 2%;
  }
}
#okbutton{
  @media(max-width:550px){
    margin-top:30px;
    padding: 50px;
    font-size: 18px !important;
  }
  @media(max-width:350px){
    margin-top:30px;
  }
}

.policy{
  text-decoration: none;
  color: white;
}